
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Global

// Dashboard

$app-dashboard-wrapper-padding: 20px;

// some basic resets
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-toolbar {
  z-index: 10;
}

app-dashboard {
  .dashboard-wrapper {
    padding: $app-dashboard-wrapper-padding;
  }
}
